.active{
    background-color: rgb(248, 218, 218);
    color: rgb(192, 47, 47);
    border-radius: 3px;
}
.active:hover{
    background-color: rgb(234, 186, 186);
   color: rgb(192, 47, 47);
}

.active .icon{
   color: rgb(192, 47, 47);
    
}